.container {
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    align-items: center;
    height: 300px;
}

h1 {
    font-size: 100px;
    margin-bottom: 10px;
}

.btn {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.submit {
    margin: 10px 50px;
    background-color: #00d4ff;
    color: black;
    padding: 10px 20px;
    margin: 20px 50px;
    border-radius: 20px;
    text-decoration: none;
}

.submit:hover {
    background-color: #097079;
    color: white;
}