.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 10px;
}

.title {
    color: #097079; 
    font-size: 20px;
    font-weight: bold;
}

input {
    height: 20px;
    width: 200px;
    margin-top: 10px;
}


.all_input {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    padding: 10px;
}

.input {
    background-color: #dddddd;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    height: 40px;
    width: 300px;
}

.input input {
    background: transparent;
    background-color: #dddddd;
    border: none;
    outline: none;
    margin-bottom: 7px;
    opacity: 50%;
}

.input label {
    margin-right: 10px;
}

.forgot_password {
    margin-right: 120px;
    margin-bottom: 50px;
    color: #797979;
}

.forgot_password span {
    margin-left: 5px;
}

.forgot_password span:hover {
    text-decoration: underline;
    color: #097079;
    cursor: pointer;
}

.submit_container {
    display: flex;
    margin-bottom: 20px;

}

.submit {
    width: 100px;
    background-color: #00d4ff;
    color: black;
    border-radius: 20px;
    font-weight: 700;
    margin: 10px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.submit:hover {
    background-color: #097079;
    color: white;

}