

.secret-frame {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 100%;
}

.secret-title {
    margin: 0px;
    font-size: 200px;
    color: black;
}

.secret-btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
}

.btn {
    background-color: #00d4ff;
    padding: 10px 20px;
    margin: 20px 50px;
    border-radius: 20px;
    color: black;
    text-decoration: none;
    border: none;
}

.btn:hover {
    background-color: #097079;
    color: white;
}
